.important {
  
  color: rgb(4, 248, 37);
  background-color: royalblue;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 20px;
  margin: auto;letter-spacing: normal;
  
}

.highlight {
  
  color: red;
  background-color: rgb(253, 253, 253);
}

.sidebar {
  
  float: left;
  background-color: salmon;
  width: 20%;
  
}

.column {
  
  width: 60%;
  height: 80%;
  display: block;
  margin: auto;
}

.box1 {
  
  border: 20px solid green;
  padding: 40px;
  background-color: indianred;
  display: block;
  margin-left: 250px;
  margin-right: 250px;
}

img {
  
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}